<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Results</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header class=" text-white py-3">
        <div class="container text-center">
            <h1>Hasil Pengambilan Keputusan</h1>
        </div>
    </header>

    <main class="container my-5">
        <h2 class="text-center mb-4">Daftar Saham</h2>

        <p>Periode Hari : <b> {{time.hari}}</b></p>
        <p>Tanggal Akhir:  <b>  {{time.end_date}}</b> </p> 
        <p>Tanggal {{hari}} Hari kebelakang:  <b> {{time.start_date}} </b> </p> 

        <table class="table table-bordered table-striped  justify-content-center">
            <thead class="table-dark">
                <tr>

                    
                    <th>Kode Saham</th>
                    <th>Rata-Rata Nilai Transaksi</th>
                    <th>ROC%</th>
                    
                    <!-- <th>Tanggal awal</th> -->
                    <!-- <th>Rata-rata</th> -->
                    <!-- <th>Deviasi</th> -->
                    <th>ROC% Periode ({{hari}})</th>
               
                    <th>Deviasi</th>
                    <th>Deviasi%</th>
                    <th>ROC% Periode / Deviasi%</th>

                    
                    <th>Harga Awal</th>
                    <th>Harga Akhir</th>
                    <th>Grafik</th>
                </tr>
            </thead>
            <tbody>
                {% for result in lulus %}
                <tr>
      
              
                    <td>{{ result.kode_saham }}</td>
                    <td>{{ result.volume }}</td>
                    <td>{{ result.roc }} %</td>

                    <!-- <td>{{result.awal}}</td> -->
                    <!-- <td>{{ result.rata_rata }}</td> -->
                    <td>{{result.rocp}} %</td>
            
                    <td>{{result.deviasi}} </td>  
                    <td>{{result.deviasiper}} % </td>
                    <td>{{result.rocdev}} %</td>

                    
                    <td>{{ result.harga_awal }}</td>
                    <td>{{ result.harga_hari_ini }}</td>
                    <td><a href="{{ result.link_saham }}" target="_blank" class="btn btn-sm btn-info">Grafik</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p class="mt-3"><strong>Total Saham:</strong> {{ total }}</p>
        
        <div class="text-center">
            <a href="{{ url_for('dashboard') }}" class="btn btn-primary mt-4">Kembali</a>
        </div>
    </main>

    <footer class="bg-dark text-white text-center py-3">
        <div class="container">
            <p>&copy; 2024 Sistem Pengambilan Keputusan Saham. All rights reserved.</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
