<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Analysis</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="container ">
            <h1>Halaman perhitungan</h1>
        </div>
    </header>
    <div class="container header1 py-3">
        <form method="POST">
            <label for="hari">Berapa hari:</label>
            <input type="number" id="hari" name="hari" required>
            
            <label for="minimal_roc">Min ROC:</label>
            <input type="number" id="minimal_roc" name="minimal_roc" required>

          
            
            <label for="volume">Min volume:</label>
            <input type="number" id="volume" name="volume" required>
            
            <div class="flex"> 
                <button type="submit" class="btn btn-success button2" >Submit</button>
                <a href="{{ url_for('dashboard') }}" class="button2">Kembali</a>
            </div>
            
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
